.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navSnap{
  position: sticky;
  top: 0;
  z-index: 1;
}

.searchboxcontainer1{
  width: 75%;
}

.searchboxcontainer2{
  width: 100%;
}

.selectcls{
  width: 80%;
}

.imgclass{
  max-height: 10rem;
  max-width: 100%;
}

.imgclass2{
  max-height: 10rem;
  max-width: 60%;
}

.imgclass3{
  max-height: 9rem;
  max-width: 100%;
}


.fsize1{
  line-height: 5px;
  font-size: 14px;
  background-color: brown;
}

.fsize2{
  font-size: 15px;
}

.navbar2cls{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.alignbase{
  align-items: baseline;
}

.productcard{
  border: 0.5px solid rgb(221, 221, 221);
  border-radius: 5px;
  padding: 15px;
  height: 20rem;
  /* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%); */
  background-color: white;
}

.productcard:hover{
  /* border-color: rgb(75, 72, 72); */
  box-shadow: 0.5rem 1rem 1.8rem rgba(46, 44, 44, 0.15);
}
.productcardimg{
  height: 11rem;
}

.productcardbody{
  font-size: 14px;
}

.loadmorebtn{
  margin: 0px 10px;
  padding: 40px;
}

.ingcls{
  max-height:60%;
  max-width:60%;
  
}

.ingcls2{
  max-height:60%;
  max-width:60%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 0 15px;
}

.ingcls3{
  max-height:10%;
  max-width:10%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  padding: 5px;
  margin: 0 15px;
}


.productoffers{
  border: 1px dashed #dddddd;
    border-radius: 3px;
    margin: 0 20px;
    padding: 5px 0px;
}

.iconback{
  background-color: rgb(36, 137, 232);
    padding: 5px;
    border-radius: 3px;
    margin: 0 5px;
}

.ratereviwcontainer{
  padding: 25px;
}

.ratecolstyle{
  padding: 10px 15px;
  border: 1px solid rgb(226, 226, 226);
  opacity: 0.8
}

.ratingreviw{
  font-size: 50px;
}

.likebutton{
  margin: 5px;
}



/* .img-wrapper{
  overflow:hidden;
  max-height:60%;
  max-width:60%;
}

img.hover-zoom:hover {
  transform: scale(1.25);
} */

.containerbody{
  background: #f7f7f7;
}

.carousel{
  z-index: 0;
}

.carouselitem{
  justify-content: center;
  padding: 35px 0px;
  /* z-index: -1; */
}

.carouselimg{
  max-height: 280px;
  margin: auto; 
} 

.pgintnbtns{
  
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pgintnbtns a{
  padding: 10px;
  border: 1px solid #dc3545;
  color: #dc3545;
  cursor: pointer;
}

.pgintnbtns a:hover{
  color: whitesmoke;
  background-color: #dc3545;
}

.pgintnactv a{
  color: whitesmoke;
  background-color: #dc3545;
}
.prevbtn{
  display: none;
}

/* .downloadappbannerimage{
  background-image: url('https://i2.sdlcdn.com/img/appScreenshot@1x.png');
  display: inline-block;
    vertical-align: middle;
} */

.downloadappbannercontainer{
  background-color: white;
  background-image: url('https://i2.sdlcdn.com/img/leaves1x.png');
  background-position: right top;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.downloadappbannertxt{
  width: 60%;
}

.downloadappbannertxt1{
  font-size: 40.4px;
  font-family: sans-serif;
  color: black;
}

.downloadappbannerbtn{
  height:40%;
  width:40%;
}

.downloadappbannerbtninnerdiv{
  font-size: 8px;
}

.numberstyle{
  display: none;
}

.productcontainer{
  background-color: white;
  border-radius: 5px;
}

.productimgcontainer{
  border-right: 0.5px solid rgb(226, 226, 226);
  padding-top: 50px;
  
}

.productdescrpcontainer{
  border-left: 0.5px solid rgb(226, 226, 226);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  
}

.producttitlecontainer{
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.productothers{
  background-color: #fbfbfb;
}

.mrpparapersonalise{
  display: flex;
  padding-left: 30px;
  /* opacity: 0.5; */
  color: rgb(169, 169, 169);
}

.productpricecontainer{
  padding: 0px 25px 5px;
  display: flex;
}

.productmrprice{
  color: #ff2341;
  font-size: 22px;
}

.productmrpoff{
  border: 1px solid rgb(85, 85, 85);
  /* opacity:0.5; */
  color: rgb(169, 169, 169);
  padding: 5px;
}

.hrpersonalise{
  width: 90%;
  margin: auto;
  opacity: 1;
  color: rgb(221, 221, 221);
}

.parapersonalise{
  display: flex;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.addcartbtn{
  display:flex;
  padding: 5px 25px;
}

.pinvalidate{
  color: #dc3545;
}

.pincodecontainer{
  z-index: 0;
}

.listflex{
  display: flex;
}

.loginbackcontainer{
  background-color: whitesmoke;
}

.logformcontainer{
  padding: 20px;
  padding-bottom: 10px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin: 100px 200px;
  background-image: url('https://i3.sdlcdn.com/img/snapdeal/sprite/userAuthSpritev3.png');
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.loginform{
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-top: -60px; 
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: -50px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.logincls{
  margin: 100px 300px;
  border-style: solid;
  border-color: coral;
  padding: 30px 30px;
}

.logformicon1{
  color: yellow;
}

.logformicon2{
  color: turquoise;
}

.logformicon3{
  color: yellow;
}

.frminputerr{
  color: red;
  font-size: 14px;
}

.deco{
  text-decoration: none;
}

.deco1{
  text-decoration: none;
  color: #525459;
}

.deco1:hover{
  color: black;
}

.deco2{
  text-decoration: none;
  color: white;
}

.deco3{
  text-decoration: none;
  color: white;
}

.deco3:hover{
  color: white;
}


.loader{
  margin: 200px 0px;
  /* border: blue;
  border-style: dashed;
  border-width: 0.5px; */
}

.errmsg{
  margin: 300px;
  border: red;
  border-style: double;
  
}

.productback{
  background-color: #f7f7f7;
}

.profback{
  background-color: antiquewhite;
}

.proftabcon{
  margin-top: 60px;
  margin-bottom: 60px;
}

.proftabback{
  background-color: beige;
  border-radius: 0.25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  
}

.profile{
  float: left;
  padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 40px;
    
}

.profdetails{
  width: 180px;
  border: 1px solid;
  padding: 10px;
  opacity: 0.8;
}

.hrpersonaliize{
  color:blue;
  opacity: 0.8;
}

/* .cart{
  background-color: beige;
} */

.addedcartback{
  background: #f7f7f7;
}

.addedcartcontainer1{
  margin: 30px 0px 50px 0px;
  background-color: white;
}

.addedcartcontainer2{
  padding: 30px 0px 40px 0px;
}

.addedcartproductcontainer{
  border-right: 2px solid rgb(209, 209, 209);
}

.addedcartproductdisp{
  display: flex;
}

.cartbox{
  background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin: 40px 0px;
    opacity: 0.8;
}

.cartcaptioncontainer{
  display: flex;
    padding-left: 60px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carttableheadcontainer{
  background-color: #f7f7f7;
}

.cartitemdetailcontainer{
  width: 35%;
}

.cartitemimgcontainer{
  width: 15%;
}

.cartitemtitlecontainer{
  width: 12%;
}

.cartitemdescrip{
  font-size: 14px;
}

.tablermvbtn{
  display: flex;
}

.tableprice{
  display: flex;
  line-height: 16px;
}

.cartitempricecontainer{
  width: 20%;
}

.cartitemqtycontainer{
  width: 25%;
}

.decreasemsg{
  color: red;
  font-size: 13px;
  padding-right: 20px;
}

.cartitembox{
  padding-left: 30px;
  padding-right: 20px;
}

.cartimgbox{
  background-color: #f8f9fa;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}

.profoot{
  border: 1px solid;
  
  
}

.footulpersonal{
  list-style-type: none;
  opacity: 0.7;
  font-size: small;
  padding-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
