.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navSnap{
  position: sticky;
  top: 0;
}

.imgclass{
  max-height:20rem;
  
}

.fsize1{
  line-height: 5px;
  font-size: 14px;
  background-color: brown;
}

.fsize2{
  font-size: 15px;
}

.navbar2cls{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  z-index: 1;
}

.alignbase{
  align-items: baseline;
}

.ingcls{
  max-height:60%;
  max-width:60%;
}

.carouselitem{
  justify-content: center;
  padding: 35px 0px;
  z-index: -1;
}

.carouselimg{
  max-height: 200px;
  margin: auto; 
} 

.pgintnbtns{
  
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: end;
}

.pgintnbtns a{
  padding: 10px;
  border: 1px solid #dc3545;
  color: #dc3545;
  cursor: pointer;
}

.pgintnbtns a:hover{
  color: whitesmoke;
  background-color: #dc3545;
}

.pgintnactv a{
  color: whitesmoke;
  background-color: #dc3545;
}

.logincls{
  margin: 100px 300px;
  border-style: solid;
  border-color: coral;
  padding: 30px 30px;
}

.deco{
  text-decoration: none;
}

.deco2{
  text-decoration: none;
  color: white;
}

.loader{
  margin: 300px;
  border: blue;
  border-style: dashed;
  border-width: 0.5px;
}

.errmsg{
  margin: 300px;
  border: red;
  border-style: double;
  
}

.productback{
  background-color: azure;
}

.profback{
  background-color: antiquewhite;
}

.proftabcon{
  margin-top: 60px;
  margin-bottom: 60px;
}

.proftabback{
  background-color: beige;
  border-radius: 0.25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  
}

.profile{
  float: left;
  padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 40px;
    
}

.profdetails{
  width: 180px;
  border: 1px solid;
  padding: 10px;
  opacity: 0.8;
}

.hrpersonaliize{
  color:blue;
  opacity: 0.8;
}

.cart{
  background-color: beige;
}

.cartbox{
  background-color: antiquewhite;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}

.cartitembox{
  padding-left: 30px;
  padding-right: 20px;
}

.cartimgbox{
  background-color: #f8f9fa;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
}

.profoot{
  border: 1px solid;
  
  
}

.footulpersonal{
  list-style-type: none;
  opacity: 0.7;
  font-size: small;
  padding-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
